<!-- 
<div class="text-center p-5 mx-5">
    <h3>{{msg1}}</h3>
    <p>{{msg2}}</p>
    <button type="button" [disabled]="isDisabled" class="btn btn-primary">Primary</button>
    <h1 [class.text-primary]="isRedColor">hi</h1>
    <h1 [ngClass]="{'text-primary': isRedColor,'text-danger':isRedColor}">hello</h1>

    <h1 [ngClass]="isRedColor?'text-success':'text-primary'">Test</h1>
    <h1 [ngStyle]="ngStyle">Test2</h1>

    <button type="button" class="btn btn-danger" (click)="eventDataBindingMethod(true)">Change to red color</button>
    <button type="button" class="btn btn-primary" (click)="eventDataBindingMethod(false)">Change to red color</button>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>

      <div ngSwitch="name">
        <h1 *ngSwitchCase="'ali'">age : 18</h1>
        <h1 *ngSwitchCase="'kholoud'">age : 25</h1>
        <h1 *ngSwitchCase="'fathy'">age : 20</h1>
        <h1 *ngSwitchCase="'mohamed'">age : 13</h1>
        
      </div>
</div>
 -->


 <h1>404</h1>
 <h1>Page Not Found</h1>